.text_input_container {
  display: flex;
  width: 80vw;
  height: 50pt;
  background: var(--morse-input-color);
  clip-path: inset(0 25% 0 25%);
  flex-direction: row;
  align-items: center;
}

.text_input_container_container {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.text_input {
  flex: 1;
  color: var(--morse-input-text-color);
  clip-path: inset(0 0 0 10%);
  width: 50%;
  font-size: 50pt;
  font-family: Rubik, sans-serif;
  text-align: right;
}

.morse_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.morse_container_container_container {
  height: calc(110px * 2);
  overflow: hidden;
}

.morse_container_container {
  transition: transform 1s;
}

.morse_char {
  text-align: center;
  height: 110px;
  margin: 0;
  width: 110px;
  font-size: 30pt;
  font-weight: bold;
  align-self: top;
}

.centered_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grey {
  filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(100deg);
}

.green {
  filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(70deg) saturate(600%);
}

.red {
  filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(304deg) saturate(9999%);
}

.current_char {
  flex: 1;
  text-align: left;
  font-size: 50pt;
  font-family: Rubik, sans-serif;
}

.info-text {
  text-align: center;
  color: var(--main-text-color);
}

.timer-text {
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  color: var(--main-text-color);
}

.help-char {
  position: absolute;
  top: 0px;
  right: 80%;
  font-size: 12pt;
  transform: translate(80%, 0);
}

/* Modal */

.modal-window {
  position: fixed;
  background-color: rgba(68, 55, 55, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
}

.modal-window>div {
  border-radius: 16px;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  cursor: pointer;
}

.modal-close:hover {
  color: black;
}

.buttons-container {
  margin: 0px 20px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option-button {
  width: 200px;
  padding: 20px 20px;
  border-width: 0px;
  border-radius: 5px;
  font-weight: 700;
}

.round {
  transform: rotate(-90deg);
}

.box
{
  width:0px;
  height:0px;
  margin-top: -30px;
  margin-bottom: 80px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  flex-direction:column;
}

.box .percent
{
  width:150px;
  height:150px;
  position:relative;
}
.box .percent svg
{
  width:150px;
  height:150px;
  position:relative;
}
.box .percent svg circle
{
  width:150px;
  height:150px;
  fill:none;
  stroke-width:10;
  stroke:#000;
  transform:translate(5px,5px);
  stroke-dasharray:440;
  stroke-dashoffset:440;
  stroke-linecap:round;
}
.box .percent svg circle:nth-child(1)
{
  stroke-dashoffset:0;
  stroke:#f3f3f3;
}
.box .percent svg circle:nth-child(2)
{
  stroke:var(--primary-button-color);
}
.box .percent .num
{
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  color:#111;
}