* {
  display: flex;
}

.char-container {
  width: 80vw;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.char-item {
  position: relative;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .3);
  margin: 10px;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.hovering {
  background-color: rgba(0, 0, 0, .5);
}

.char-image {
  height: 75px;
  width: 90px;
}

.drop-it {
  height: 75px;
  width: 90px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16pt;
}

.char-image-placeholder {
  height: 75px;
  width: 90px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.placeholder-text {
  font-weight: normal;
  font-size: 10pt;
  text-align: center;
  padding: 0 2px;
}

.button {
  font-weight: normal;
  font-size: 9pt;
  padding: 4 2px;
  align-items: center;
  justify-content: center;
  height: 25px;
  white-space: nowrap;
}

.accept-button-container-container {
  justify-content: center;
  align-items: center;
}

.accept-button-container {
  width: 40vw;
  justify-content: space-around;
}

.accept-button {
  font-weight: normal;
  font-size: 16pt;
  font-weight: bold;
  padding: 4 2px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  height: 70px;
  width: 220px;
  padding: 0 20px;
  color: white;
  white-space: nowrap;
}

.accept-button-practice {
  font-weight: normal;
  font-size: 12pt;
  font-weight: bold;
  padding: 4 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-left: 30px;
  height: 70px;
  width: 280px;
  padding: 0 20px;
  color: white;
  outline: none;
  border: none;
}

.accept-button-practice:focus {
  outline: none;
}

.delete-button-container {
  position: absolute;
  top: .8rem;
  right: 1rem;
}

.delete-button {
  font-size: 20px;
  color: white;
  position: relative;
}

.delete-button:hover {
  color: rgba(255, 255, 255, 0.692);
}

.delete-button:active {
  color: rgba(255, 255, 255, 0.397);
}

.deactivated {
  display: none;
}