<div class="top_tab_container">
  <svg-icon (click)="changePage('initial')" id="logo" src="/assets/logo.svg"></svg-icon>
  <div>
    <div (click)="changePage('add-language')" class="top_tab_item_container"><a class="top_tab_text">{{this.locale.practice.add_lang[this.lang]}}</a></div>
    <div (click)="changePage('exercises')" class="top_tab_item_container"><a class="top_tab_text">{{this.locale.exercises[this.lang]}}</a></div>
    <!-- <div (click)="changePage('')" class="top_tab_item_container"><a class="top_tab_text">Learn Sign<br>Language</a></div> -->
    <div class="top_tab_item_container">
      <div class="top_tab_item_container_container">
        <div class="dropdown">
          <a class="top_tab_text" style="padding-right: 1rem;">{{this.locale.practice[this.lang]}}</a>
          <i class="fa fa-arrow-down dropdown-arrow"></i>
          <div class="dropdown-content">
            <div (click)="changePage('learn', 'lang=morse-code')">{{this.locale.practice.morse_code[this.lang]}}</div>
            <div (click)="changePage('learn', 'lang=sign-language')">{{this.locale.practice.sign_lang[this.lang]}}</div>
            <div *ngIf="semaphoreActive()" (click)="changePage('learn', 'lang=sem')">{{this.locale.practice.semaphore_lang[this.lang]}}</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="logged_in" (click)="changePage('settings')" class="top_tab_item_container top_tab_button blue-button">
      <a class="top_tab_text primary-button">{{this.locale.config[this.lang]}}</a>
    </div>
    <div *ngIf="logged_in" (click)="changePage('dashboard')"
      class="top_tab_item_container top_tab_button orange-button">
      <a class="top_tab_text secondary-button">{{this.locale.profile[this.lang]}}</a>
    </div>
    <div *ngIf="!logged_in" (click)="changePage('sign-in')" class="top_tab_item_container top_tab_button blue-button">
      <a class="top_tab_text primary-button">{{this.locale.sign_in[this.lang]}}</a>
    </div>
    <div *ngIf="!logged_in" (click)="changePage('sign-up')" class="top_tab_item_container top_tab_button orange-button">
      <a class="top_tab_text secondary-button">{{this.locale.sign_up[this.lang]}}</a>
    </div>
  </div>
</div>