<div>
  <app-top-nav [lang]="lang"></app-top-nav>
  <app-bottom-nav [lang]="lang"></app-bottom-nav>
  <div class="content_container">
    <notifier-container></notifier-container>
    <div class="outer-container" [ngSwitch]="current_page">
      <app-initial *ngSwitchCase="'initial'"></app-initial>
      <app-sign-in *ngSwitchCase="'sign-in'"></app-sign-in>
      <app-sign-up *ngSwitchCase="'sign-up'"></app-sign-up>
      <app-exercises *ngSwitchCase="'exercises'"></app-exercises>
      <app-dashboard *ngSwitchCase="'dashboard'"></app-dashboard>
      <app-settings (lang_changed)="changeLanguage($event)" *ngSwitchCase="'settings'"></app-settings>
      <app-learn-morse *ngSwitchCase="'learn'"></app-learn-morse>
      <app-add-language *ngSwitchCase="'add-language'"></app-add-language>
      <app-add-language-final *ngSwitchCase="'add-language-final'"></app-add-language-final>
      <app-create-exercise *ngSwitchCase="'create-exercise'"></app-create-exercise>
    </div>
  </div>
</div>
<div class="bubble_container">
  <div class="bubble1"></div>
  <div class="bubble2"></div>
  <div class="bubble3"></div>
  <div class="bubble4"></div>
</div>