<div class="card-container ">
    <div class="card">
        <div class="title">
            {{ title }}
        </div>
        
        <app-chart [id]=id [data]=data></app-chart>
        <div class="extra">
            <div class="title">
                {{ extra.title }}
            </div>
            <div class="value">
                {{ extra.value }}
            </div>
            <div class="improvement">
                {{ extra.improvement }}
            </div>
        </div>
    </div>
</div>


