<div class="container">
  <div class="arrow arrow-left" (click)="slide('left')">
    <img src="/assets/left_arrow.png" #left_arrow>
  </div>
  <div class="visible-container">
    <div class="grid-container animated" #slider>
      <app-exercises-card *ngFor="let ex of exerciseKeys()" [exercise]="exercises[ex]"></app-exercises-card>
    </div>
  </div>
  <div class="arrow arrow-right" (click)="slide('right')">
    <img src="/assets/right_arrow.png" #right_arrow>
  </div>


  <div class="button-container">
    <div class="button blue-button" (click)="changePage('create-exercise')">{{this.locale.create_button[this.lang]}}</div>
  </div>
</div>