<div class="time_constraint">
  <div class="dropdown" (mouseover)="hide_container()" (mouseout)="show_container()">
    <button class="dropbtn">{{ time_constraint }}</button>
    <div class="dropdown-content">
      <a *ngFor="let time of possible_time_constraints" (click)="update_time_constraint(time.days)">{{ time.value }}</a>
    </div>
  </div>
</div>

<div class="container animated-fade" #container>

  <div class="arrow arrow-left" (click)="slide('left')">
    <img src="/assets/left_arrow.png" #left_arrow>
  </div>
  <div class="visible-container">
      <div *ngFor="let card of small_cards_data">
        <div *ngIf="card.days == days">
          <div class="smaller-grid-container animated" #smaller_slider>
            <div *ngFor="let c of card.content">
              <app-small-card [title]=c.title [value]=c.value ></app-small-card>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="arrow arrow-right" (click)="slide('right')">
    <img src="/assets/right_arrow.png" #right_arrow>
  </div>
  <div class="arrow2 arrow-left bellow-left" (click)="slide_bellow('left')">
    <img src="/assets/left_arrow.png" #left_arrow_bellow>
  </div>
  <div class="bigger-visible-container">
    <div class="bigger-grid-container animated" #chart_slider> 
      <app-chart-card *ngFor="let chart of charts" [id]=chart.id [title]=chart.title [data]=chart.data
        [extra]=chart.extra></app-chart-card>
    </div>
  </div>
  <div class="arrow2 arrow-right bellow-right" (click)="slide_bellow('right')">
    <img src="/assets/right_arrow.png" #right_arrow_bellow>
  </div>
</div>


