@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
  font-family: Rubik, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');
:root {}

@media (-webkit-device-pixel-ratio: 1.25) {
  app-initial, app-sign-in, app-sign-up, app-exercises, app-dashboard, app-settings, app-learn-morse, app-add-language, app-add-language-final, app-create-exercise {
    zoom: .8;
  }
}

@media (-webkit-device-pixel-ratio: 1.00) {
  app-initial, app-sign-in, app-sign-up, app-exercises, app-dashboard, app-settings, app-learn-morse, app-add-language, app-add-language-final, app-create-exercise {
    zoom: 1.2;
  }
}

.start {
  stop-color: var(--logo-grad-start);
}

.stop {
  stop-color: var(--logo-grad-stop);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

/* use viewport-relative units to cover page fully */

body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */

* {
  box-sizing: border-box;
}

/* full-sized  container that fills up the page */

app-root {
  height: 100%;
  width: 100%;
  /* example padding, font-size, background, etc */
  padding: 10px;
  font-size: 20px;
}

.blue-button {
  background: var(--secondary-button-color);
  user-select: none;
  color: var(--secondary-button-text-color);
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.blue-button:hover {
  background: var(--secondary-button-color-hover);
  cursor: pointer;
}

.blue-button:active {
  background: var(--secondary-button-color-active);
}

.orange-button {
  background: var(--primary-button-color);
  color: var(--primary-button-text-color);
  user-select: none;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.orange-button:hover {
  background: var(--primary-button-color-hover);
  cursor: pointer;
}

.orange-button:active {
  background: var(--primary-button-color-active);
}

/* ANGULAR NOTIFIER */

.notifier__container * {
  box-sizing: border-box;
}

.notifier__container-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.notifier__notification {
  display: flex;
  align-items: center;
  position: fixed;
  visibility: hidden;
  z-index: 10000;
  will-change: transform;
  backface-visibility: hidden;
}

.notifier__notification--material {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: default;
  padding-top: 11px;
  padding-right: 26px;
  padding-bottom: 10px;
  padding-left: 26px;
}

.notifier__notification--material .notifier__notification-message {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top;
  line-height: 32px;
  font-size: 15px;
}

.notifier__notification--material .notifier__notification-button {
  display: inline-block;
  transition: opacity 0.2s ease;
  opacity: 0.5;
  margin-right: -10px;
  margin-left: 10px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 6px;
  width: 32px;
  height: 32px;
  vertical-align: top;
}

.notifier__notification--material .notifier__notification-button:hover, .notifier__notification--material .notifier__notification-button:focus {
  opacity: 1;
}

.notifier__notification--material .notifier__notification-button:active {
  transform: scale(0.82);
  opacity: 1;
}

.notifier__notification--default {
  background-color: #444;
  color: #fff;
}

.notifier__notification--default .notifier__notification-button-icon {
  fill: #fff;
}

.notifier__notification--error {
  background-color: #d9534f;
  color: #fff;
}

.notifier__notification--error .notifier__notification-button-icon {
  fill: #fff;
}

.notifier__notification--info {
  background-color: #5bc0de;
  color: #fff;
}

.notifier__notification--info .notifier__notification-button-icon {
  fill: #fff;
}

.notifier__notification--success {
  background-color: #5cb85c;
  color: #fff;
}

.notifier__notification--success .notifier__notification-button-icon {
  fill: #fff;
}

.notifier__notification--warning {
  background-color: #f0ad4e;
  color: #fff;
}

.notifier__notification--warning .notifier__notification-button-icon {
  fill: #fff;
}

/*# sourceMappingURL=styles.css.map */